<section class="section-benefits">
  <div class="padding-global">
    <div class="container">
      <div class="benefits-component">

        <div class="benefit-card">
          <img src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69cf7b2640909f5d70ee804b_powerbank%20(5)%20(1).avif" loading="lazy" alt="" class="benefit-card-img">
          <div class="benefit-card-content">
            <div class="benefit-header">
              <div class="font-color-gray"><div class="t-40">01</div></div>
              <h2 class="h-40">Battery</h2>
            </div>
            <div class="benefit-content">
              <div class="benefit-text w-richtext">
                <ul role="list">
                  <li>20,000mAh capacity</li>
                  <li>Solid-State battery technology</li>
                  <li>Safer and more durable than standard lithium batteries</li>
                  <li>Resistant to damage (even with sharp objects, still functional)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="benefit-card">
          <img src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c159a1f89cde76eb051ea7_solar-charging.avif" loading="lazy" alt="" class="benefit-card-img">
          <div class="benefit-card-content gradient">
            <div class="benefit-header">
              <div class="font-color-gray"><div class="t-40">02</div></div>
              <h2 class="h-40">Solar Charging</h2>
            </div>
            <div class="benefit-content">
              <div class="benefit-text w-richtext">
                <ul role="list">
                  <li>Built-in solar panel</li>
                  <li>Charging speed: ~800mAh per hour</li>
                  <li>Designed for emergency / outdoor use</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="benefit-card">
          <img src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c15a5a2074d3dddacbb430_built-in%20socket.avif" loading="lazy" alt="" class="benefit-card-img">
          <div class="benefit-card-content gradient">
            <div class="benefit-header">
              <div class="font-color-gray"><div class="t-40">03</div></div>
              <h2 class="h-40">Built-in Socket</h2>
            </div>
            <div class="benefit-content">
              <div class="benefit-text w-richtext">
                <ul role="list">
                  <li>Can be plugged directly into wall (220V/110V)</li>
                  <li>Works like a charger + power bank in one</li>
                  <li>No external adapter needed</li>
                  <li>Doubles as a travel adapter</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Benefits 1",
  "settings": []
}
{% endschema %}
