<section class="section-benefits">
  <div class="padding-global">
    <div class="container">
      <div class="benefits-component">

        <div class="benefit-card">
          <img src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c15b56840b818cd4735974_Lanyard%20cable.avif" loading="lazy" alt="" class="benefit-card-img">
          <div class="benefit-card-content gradient">
            <div class="benefit-header">
              <div class="font-color-gray"><div class="t-40">04</div></div>
              <h2 class="h-40">Lanyard Cable</h2>
            </div>
            <div class="benefit-content">
              <div class="benefit-text w-richtext">
                <ul role="list">
                  <li>Included lanyard</li>
                  <li>Works as USB-C to USB-C cable</li>
                  <li>Functional + portable</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="benefit-card">
          <img src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c15f35c17159e2b80b27df_size%20and%20portability%20(4).avif" loading="lazy" alt="" class="benefit-card-img">
          <div class="benefit-card-content gradient">
            <div class="benefit-header">
              <div class="font-color-gray"><div class="t-40">05</div></div>
              <h2 class="h-40">Size &amp; Portability</h2>
            </div>
            <div class="benefit-content">
              <div class="size-items-wrap">
                <div class="size-item">
                  <img src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c15e10c9c140b8abcf4513_height.svg" loading="lazy" alt="" class="size-img">
                  <div class="t-18">8cm</div>
                </div>
                <div class="size-item">
                  <img src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c15e14da7de9101a6c23a9_width.svg" loading="lazy" alt="" class="size-img">
                  <div class="t-18">6cm</div>
                </div>
                <div class="size-item">
                  <img src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c15e16fdcac763b751777d_xy.svg" loading="lazy" alt="" class="size-img">
                  <div class="t-18">3.5cm</div>
                </div>
              </div>
              <div class="benefit-text w-richtext">
                <ul role="list">
                  <li>Easy to carry anywhere</li>
                  <li>Designed for travel</li>
                  <li>Compact, pocket-sized design</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="benefit-card">
          <div class="scale-wrap">
            <img src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c69448053b2a2ef2d32429_image%2091.jpg" loading="lazy" alt="" class="benefit-card-img scale">
          </div>
          <div class="benefit-card-content gradient">
            <div class="benefit-header">
              <div class="font-color-gray"><div class="t-40">06</div></div>
              <h2 class="h-40">Airplane Friendly</h2>
            </div>
            <div class="benefit-content">
              <div class="benefit-text w-richtext">
                <ul role="list">
                  <li>20,000mAh / 74Wh travel-safe capacity</li>
                  <li>Approved size for airline carry-on rules</li>
                  <li>Easy to take onboard in your cabin bag</li>
                  <li>Safe, compact, and ready for every trip</li>
                  <li>Perfect for flights, airports, and travel days</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Benefits 2",
  "settings": []
}
{% endschema %}
