<section class="section-cases">
  <div class="padding-global">
    <div class="container">
      <div class="padding-section-xmedium">
        <div class="cases-component">

          <div class="cases-header">
            <h2 class="h-48">Main Use Cases</h2>
            <div class="swiper-arrows-wrap">
              <div swiper-prev-case="" class="swiper-arrow gray swiper-prev">
                <div class="svg w-embed"><svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.13395 1.05973L6.07295 -0.000272751L0.29395 5.77673C0.200796 5.86929 0.126867 5.97937 0.0764193 6.10062C0.0259713 6.22187 0 6.3519 0 6.48323C0 6.61455 0.0259713 6.74458 0.0764193 6.86583C0.126867 6.98708 0.200796 7.09716 0.29395 7.18973L6.07295 12.9697L7.13295 11.9097L1.70895 6.48473L7.13395 1.05973Z" fill="currentColor"/></svg></div>
              </div>
              <div swiper-next-case="" class="swiper-arrow gray swiper-next">
                <div class="svg w-embed"><svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.19345e-05 1.05973L1.06102 -0.000272751L6.84002 5.77673C6.93318 5.86929 7.0071 5.97937 7.05755 6.10062C7.108 6.22187 7.13397 6.3519 7.13397 6.48323C7.13397 6.61455 7.108 6.74458 7.05755 6.86583C7.0071 6.98708 6.93318 7.09716 6.84002 7.18973L1.06102 12.9697L0.00102186 11.9097L5.42502 6.48473L2.19345e-05 1.05973Z" fill="currentColor"/></svg></div>
              </div>
            </div>
          </div>

          <div class="margin-top _100">
            <div swiper-case="" class="case-swiper swiper">
              <div class="case-swiper-wrap swiper-wrapper">

                <div class="case-slide swiper-slide">
                  <div class="case-card">
                    <div class="case-slide-content">
                      <div class="case-tag"><div>Office</div></div>
                      <div class="max-width _250"><h3 class="h-24">Works as both charger and power bank</h3></div>
                    </div>
                    <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c164d10f472d9a08daea79_office.avif" alt="" class="case-img">
                  </div>
                </div>

                <div class="case-slide swiper-slide">
                  <div class="case-card">
                    <div class="case-slide-content">
                      <div class="case-tag"><div>Cafe / Remote Work</div></div>
                      <div class="max-width _250"><h3 class="h-24">Work anywhere without worrying about battery</h3></div>
                    </div>
                    <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c167082b9fb99a17ba3915_remote-work.avif" alt="" class="case-img">
                  </div>
                </div>

                <div class="case-slide swiper-slide">
                  <div class="case-card">
                    <div class="case-slide-content">
                      <div class="case-tag"><div>Travel / Airplane</div></div>
                      <div class="max-width _250"><h3 class="h-24">Use during travel, airports, hotels</h3></div>
                    </div>
                    <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c694b7625e14c6ede04569_%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F%20IMG_6355%201.jpg" alt="" class="case-img">
                  </div>
                </div>

                <div class="case-slide swiper-slide">
                  <div class="case-card">
                    <div class="case-slide-content">
                      <div class="case-tag"><div>Car</div></div>
                      <div class="max-width _250"><h3 class="h-24">Backup power during road trips</h3></div>
                    </div>
                    <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c167d248e9d653e6b06f27_car.avif" alt="" class="case-img">
                  </div>
                </div>

                <div class="case-slide swiper-slide">
                  <div class="case-card">
                    <div class="case-slide-content">
                      <div class="case-tag"><div>Outdoor / Adventure</div></div>
                      <div class="max-width _250"><h3 class="h-24">Recharge with solar energy</h3></div>
                    </div>
                    <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c16823107e4104ac0d1da4_Outdoor%20Adventure.avif" alt="" class="case-img">
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Use Cases",
  "settings": []
}
{% endschema %}
