<section class="section-charge">
  <div class="padding-global">
    <div class="container">
      <div class="charge-component">
        <div class="max-width _750 align-center">
          <div class="text-align-center">
            <div class="font-weight-bold">
              <h2 class="h-56">Multi-device <span class="font-color-orange">charging</span></h2>
            </div>
          </div>
        </div>
        <div class="margin-top _64">
          <div class="charge-card">
            <div class="flat-lay-img">
              <img src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c29470b92d336c8dca0436_charge.avif" loading="lazy" alt="" class="charge-img">
            </div>
            <div class="charge-content">
              <div class="device-cards-wrap">

                <div class="device-card-wrap">
                  <div class="device-card">
                    <div class="device-card-header">
                      <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c11df6cedd99ec11a9f023_laptop.svg" alt="" class="device-card-icon">
                      <div class="font-color-orange"><div class="t-48">1X</div></div>
                    </div>
                    <h3 class="h-32">Macbook Pro M5</h3>
                  </div>
                </div>

                <div class="device-card-wrap">
                  <div class="device-card">
                    <div class="device-card-header">
                      <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c1209fe82111f75fff3e4a_ipad%20(1).svg" alt="" class="device-card-icon">
                      <div class="font-color-orange"><div class="t-48">up to 2X</div></div>
                    </div>
                    <h3 class="h-32">Ipad Pro</h3>
                  </div>
                </div>

                <div class="device-card-wrap">
                  <div class="device-card">
                    <div class="device-card-header">
                      <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c120a4cedd99ec11aa8c05_phone.svg" alt="" class="device-card-icon">
                      <div class="font-color-orange"><div class="t-48">4X</div></div>
                    </div>
                    <h3 class="h-32">Iphone 17 Pro Max</h3>
                  </div>
                </div>

                <div class="device-card-wrap">
                  <div class="device-card">
                    <div class="device-card-header">
                      <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c120af75e531d2f16fc928_camera.svg" alt="" class="device-card-icon">
                      <div class="font-color-orange"><div class="t-48">13</div></div>
                    </div>
                    <h3 class="h-32">DSLR/GoPro</h3>
                  </div>
                </div>

                <div class="device-card-wrap">
                  <div class="device-card">
                    <div class="device-card-header">
                      <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c120b4ffcc49c1667b3b52_drone.svg" alt="" class="device-card-icon">
                      <div class="font-color-orange"><div class="t-48">up to 2X</div></div>
                    </div>
                    <h3 class="h-32">Drone</h3>
                  </div>
                </div>

                <div class="device-card-wrap">
                  <div class="device-card">
                    <div class="device-card-header">
                      <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c120c48a4df8c16502514d_nintendo.svg" alt="" class="device-card-icon">
                      <div class="font-color-orange"><div class="t-48">5X</div></div>
                    </div>
                    <h3 class="h-32">Nintendo Switch</h3>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Charge",
  "settings": []
}
{% endschema %}
