<section class="section-cta-img">
  <div class="padding-global">
    <div class="container">
      <div class="padding-section-large">
        <div class="cta-img-component">
          <div class="cta-img-wrap">
            <img src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c243ffcfe8cb8611180c72_img-powerbank.avif" loading="lazy" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "CTA Image",
  "settings": []
}
{% endschema %}
