<section class="section-cta">
  <div class="padding-global">
    <div class="container">
      <div class="cta-component">
        <div class="max-width _750 align-center">
          <div class="text-align-center">
            <h2 class="h-48">Power Anywhere. Anytime.</h2>
            <div class="margin-top _24">
              <p class="p-24">No cables, no limits. Power your adventures with a lightweight solar power bank that keeps up with your lifestyle.</p>
            </div>
          </div>
        </div>
        <div class="margin-top _64">
          <div class="button-wrap is-center">
            {% render 'ks-button' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "CTA",
  "settings": []
}
{% endschema %}
