<section class="section-fingertips">
  <div class="padding-global">
    <div class="container">
      <div class="padding-section-small">
        <div class="fingertips-component">

          <div class="fingertip-card">
            <div class="fingerprint-img-wrap">
              <img src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c125c79ca24e012fdb15c3_140w%20power%20(1).avif" loading="lazy" alt="" class="fingerprint-img">
            </div>
            <div class="fingertip-inner">
              <h2 class="h-32">240W Power at Your Fingertips with 25,000mAh.</h2>
              <div class="fingertip-items">
                <div class="fingertip-item">
                  <div class="t-18">USB-C Port 1</div>
                  <div class="font-weight-light"><div class="t-18 muted">240W output</div></div>
                </div>
                <div class="fingertip-item">
                  <div class="t-18">USB-C Port 2</div>
                  <div class="font-weight-light"><div class="t-18 muted">240W output</div></div>
                </div>
                <div class="fingertip-item">
                  <div class="t-18">USB-A Port</div>
                  <div class="font-weight-light"><div class="t-18 muted">20W output</div></div>
                </div>
              </div>
            </div>
          </div>

          <div class="fingertip-card gradient">
            <div class="fingerprint-img-wrap">
              <img src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c14df9da73ff5183457cfb_powerbank%20(4).avif" loading="lazy" alt="" class="fingerprint-img">
            </div>
            <div class="fingertip-inner no-padding">
              <h2 class="h-32">15 minutes to 70% with 240W fast charging</h2>
              <div class="t-18"><span class="display-block">26 minutes from</span> 0 to 100%</div>
            </div>
            <img src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c12b09ef3b8da942bb8aca_gradinet.avif" loading="lazy" alt="" class="fingertip-bg-img">
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Fingertips",
  "settings": []
}
{% endschema %}
