<footer class="section-footer">
  <div class="container-full-width">
    <div class="footer-component">
      <div class="footer-logo-wrap">
        <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c2a83f23ec25a6606fdcd4_solly%20(1).svg" alt="Solly" class="footer-logo">
      </div>
      <div class="footer-gradient"></div>
      <div class="footer-content">
        <div class="copyright-text">&copy; <span class="copy-year">{{ 'now' | date: '%Y' }}</span> All rights reserved, Solly</div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": []
}
{% endschema %}
