<header class="navbar">
  <div class="padding-global">
    <div class="container">
      <nav class="navigation">
        <a aria-label="home" href="/" class="nav-logo-wrap w-inline-block">
          <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c0e6f4e23263c9f8022b74_logo-solly.svg" alt="Solly" class="nav-logo">
        </a>
        {% render 'ks-button' %}
      </nav>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": []
}
{% endschema %}
