<section class="section-home-hero">
  <div class="padding-global">
    <div class="container">
      <div class="home-hero-component">

        <div id="w-node-hero-title" class="home-hero-title">
          <h1 class="h-56">One device for all charging needs, anywhere</h1>
          <div class="margin-top _32">
            <div class="button-wrap">
              {% render 'ks-button' %}
            </div>
          </div>
          <div class="margin-top _32">
            <ul role="list" class="list-items-wrap">
              <li class="list-item"><div class="t-16">25,000mAh/ 92Wh airplane-safe solid-state battery</div></li>
              <li class="list-item"><div class="t-16">2x 240W USB-C + 20W USB-A fast charging</div></li>
              <li class="list-item"><div class="t-16">Built-in 110/220V wall charging</div></li>
            </ul>
            <div class="margin-top _24">
              <div class="home-hero-feature-wrap">
                <div class="home-hero-feature"><div>Power bank</div></div>
                <div class="home-hero-feature"><div>Wall charger</div></div>
                <div class="home-hero-feature"><div>Solar charger</div></div>
              </div>
            </div>
          </div>
        </div>

        <div id="w-node-hero-bottom" class="home-hero-bottom"></div>

        <div id="w-node-hero-visual" class="home-hero-visual">
          <div swiper-home="" class="home-hero-swiper swiper">
            <div class="home-hero-swiper-wrap swiper-wrapper">
              <div class="home-hero-slide swiper-slide">
                <div class="home-hero-card">
                  <img loading="eager" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c10847fb27fa67328d334d_charger%206.avif" alt="" class="home-hero-img">
                </div>
              </div>
              <div class="home-hero-slide swiper-slide">
                <div class="home-hero-card">
                  <img loading="eager" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c108389da3ad98d8de6a79_charger-2%20(1).avif" alt="" class="home-hero-img">
                </div>
              </div>
              <div class="home-hero-slide swiper-slide">
                <div class="home-hero-card">
                  <img loading="eager" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c1083c3c8a44f80991cdfc_charger-3.avif" alt="" class="home-hero-img">
                </div>
              </div>
              <div class="home-hero-slide swiper-slide">
                <div class="home-hero-card">
                  <img loading="eager" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c1083fa09b86669f020a5b_charger%204%20(1).avif" alt="" class="home-hero-img">
                </div>
              </div>
              <div class="home-hero-slide swiper-slide">
                <div class="home-hero-card">
                  <img loading="eager" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c10842fddbfa8671c8fa54_charger%205.avif" alt="" class="home-hero-img">
                </div>
              </div>
              <div class="home-hero-slide swiper-slide">
                <div class="home-hero-card">
                  <img loading="eager" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c10996db6e642054343cab_charger-1%20(1).avif" alt="" class="home-hero-img">
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-arrows-wrap absolute">
            <div swiper-prev-home="" class="swiper-arrow swiper-prev">
              <div class="svg w-embed"><svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.13395 1.05973L6.07295 -0.000272751L0.29395 5.77673C0.200796 5.86929 0.126867 5.97937 0.0764193 6.10062C0.0259713 6.22187 0 6.3519 0 6.48323C0 6.61455 0.0259713 6.74458 0.0764193 6.86583C0.126867 6.98708 0.200796 7.09716 0.29395 7.18973L6.07295 12.9697L7.13295 11.9097L1.70895 6.48473L7.13395 1.05973Z" fill="currentColor"/></svg></div>
            </div>
            <div swiper-next-home="" class="swiper-arrow swiper-next">
              <div class="svg w-embed"><svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.19345e-05 1.05973L1.06102 -0.000272751L6.84002 5.77673C6.93318 5.86929 7.0071 5.97937 7.05755 6.10062C7.108 6.22187 7.13397 6.3519 7.13397 6.48323C7.13397 6.61455 7.108 6.74458 7.05755 6.86583C7.0071 6.98708 6.93318 7.09716 6.84002 7.18973L1.06102 12.9697L0.00102186 11.9097L5.42502 6.48473L2.19345e-05 1.05973Z" fill="currentColor"/></svg></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Hero",
  "settings": []
}
{% endschema %}
