<section class="section-powerbank">
  <div class="padding-section-small">
    <div class="powerbank-video w-background-video w-background-video-atom">
      <video autoplay loop muted playsinline style="background-image:url('https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588%2F69c160478fd8826ca4fd3ce5_%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F%206_poster.0000000.jpg')">
        <source src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588%2F69c160478fd8826ca4fd3ce5_%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F%206_mp4.mp4">
        <source src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588%2F69c160478fd8826ca4fd3ce5_%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F%206_webm.webm">
      </video>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Powerbank Video",
  "settings": []
}
{% endschema %}
