<section class="section-product">
  <div class="padding-global">
    <div class="container">
      <div class="padding-section-medium">
        <div class="product-component">
          <div class="max-width _750 align-center">
            <div class="text-align-center">
              <div class="font-weight-bold">
                <h2 class="h-56"><span class="display-block">Power, Styled </span><span class="font-color-orange"> Your Way</span></h2>
              </div>
            </div>
          </div>
          <div class="margin-top _64">
            <div class="product-cards-wrap">

              <div class="product-card">
                <div class="product-img">
                  <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c233969cb36669821a05d4_carbon-shadow.avif" alt="" class="product-card-img">
                </div>
                <h3 class="h-32">Carbon Shadow</h3>
              </div>

              <div class="product-card">
                <div class="product-img">
                  <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c234d1cde594c769d518b6_solar-ember.avif" alt="" class="product-card-img">
                </div>
                <h3 class="h-32">Solar Ember</h3>
              </div>

              <div class="product-card">
                <div class="product-img">
                  <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c234c758a9f81d1bb09147_lunar%20white.avif" alt="" class="product-card-img">
                </div>
                <h3 class="h-32">Lunar White</h3>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product Colors",
  "settings": []
}
{% endschema %}
