<section class="section-protection">
  <div class="padding-global">
    <div class="container">
      <div class="padding-section-small">
        <div class="protection-component">

          <div class="protection-img-wrap">
            <img src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c133e5a09b86669f0c5ca2_powerbank-with-nail.avif" loading="lazy" alt="" class="powerbank-img">
          </div>

          <div class="protection-column">
            <div class="text-align-center">
              <h2 class="h-48">Advanced Protection for Unmatched Safety</h2>
            </div>
            <div class="margin-top _32">
              <div class="protection-cards-wrap">

                <div class="protection-card">
                  <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c146ba7f8017a205a1fc6c_temperature.svg" alt="" class="protection-icon">
                  <div class="font-style-italic"><div class="t-24">Overheat</div></div>
                </div>

                <div class="protection-card">
                  <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c14af8816e14b06404413d_information-circle.svg" alt="" class="protection-icon">
                  <div class="font-style-italic"><div class="t-24">Overcurrent</div></div>
                </div>

                <div class="protection-card">
                  <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c14afb77d814b5beff287a_energy-rectangle.svg" alt="" class="protection-icon">
                  <div class="font-style-italic"><div class="t-24">Overvoltage</div></div>
                </div>

                <div class="protection-card">
                  <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c14aff5c0b027809614a66_battery-charging-01.svg" alt="" class="protection-icon">
                  <div class="font-style-italic"><div class="t-24">Overload</div></div>
                </div>

                <div class="protection-card">
                  <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c14b0218dbb8a5cda0e043_dashboard-speed-02.svg" alt="" class="protection-icon">
                  <div class="font-style-italic"><div class="t-24">Under-voltage</div></div>
                </div>

                <div class="protection-card">
                  <img loading="lazy" src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c14b050cb15403b8239ee4_solar-energy.svg" alt="" class="protection-icon">
                  <div class="font-style-italic"><div class="t-24">Short-Circuit</div></div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Protection",
  "settings": []
}
{% endschema %}
