<section class="section-specifications">
  <div class="padding-global">
    <div class="container">
      <div class="padding-section-large">
        <div class="specifications-component">

          <div class="specification-column">
            <div class="specification-title">
              <h2 class="h-48">Technical <span class="display-block">specifications</span></h2>
            </div>
            <div class="port-wrap">

              <div class="port-item">
                <div class="port-column">
                  <div class="font-weight-bold"><div class="t-18">USB-C Port 1</div></div>
                  <ul role="list" class="list-items-wrap">
                    <li class="list-item"><div class="t-18">240W output</div></li>
                  </ul>
                </div>
                <div class="port-column">
                  <div class="font-color-gray"><div class="t-18">Supports</div></div>
                  <ul role="list" class="list-items-wrap">
                    <li class="list-item"><div class="t-18">Power Delivery (PD 3.1)</div></li>
                    <li class="list-item"><div class="t-18">PPS (Programmable Power Supply)</div></li>
                    <li class="list-item"><div class="t-18">QC (Quick Charge)</div></li>
                    <li class="list-item"><div class="t-18">AFC (Samsung)</div></li>
                  </ul>
                </div>
              </div>

              <div class="port-item">
                <div class="port-column">
                  <div class="font-weight-bold"><div class="t-18">USB-C Port 2</div></div>
                  <ul role="list" class="list-items-wrap">
                    <li class="list-item"><div class="t-18">240W output</div></li>
                  </ul>
                </div>
                <div class="port-column">
                  <div class="font-color-gray"><div class="t-18">Supports</div></div>
                  <ul role="list" class="list-items-wrap">
                    <li class="list-item"><div class="t-18">Power Delivery (PD 3.1)</div></li>
                    <li class="list-item"><div class="t-18">PPS (Programmable Power Supply)</div></li>
                    <li class="list-item"><div class="t-18">QC (Quick Charge)</div></li>
                    <li class="list-item"><div class="t-18">AFC (Samsung)</div></li>
                  </ul>
                </div>
              </div>

              <div class="port-item">
                <div class="port-column">
                  <div class="font-weight-bold"><div class="t-18">USB-A Port</div></div>
                  <ul role="list" class="list-items-wrap">
                    <li class="list-item"><div class="t-18">20W output</div></li>
                  </ul>
                </div>
                <div class="port-column">
                  <div class="font-color-gray"><div class="t-18">Supports</div></div>
                  <ul role="list" class="list-items-wrap">
                    <li class="list-item"><div class="t-18">Standard fast charging</div></li>
                  </ul>
                </div>
              </div>

              <div class="port-item">
                <div class="port-column">
                  <div class="font-weight-bold"><div class="t-18">AC Wall Plug</div></div>
                  <ul role="list" class="list-items-wrap">
                    <li class="list-item"><div class="t-18">110/220V input</div></li>
                  </ul>
                </div>
              </div>

              <div class="port-item">
                <div class="port-column">
                  <div class="font-weight-bold"><div class="t-18">Solar Charging</div></div>
                  <ul role="list" class="list-items-wrap">
                    <li class="list-item"><div class="t-18">800mAh/h</div></li>
                  </ul>
                </div>
              </div>

            </div>
          </div>

          <div class="specification-img-wrap">
            <img src="https://cdn.prod.website-files.com/69c0dd041e48c15718e2d588/69c16a1f0d1b85628bf8800f_technical-specifications.avif" loading="lazy" alt="" class="specification-img">
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Specifications",
  "settings": []
}
{% endschema %}
